{% extends "base.html.twig" %}

{% block body %}
<div class="container-xl">
	<div class="row py-4">
		<div class="col">
			<h1>Add an Organization</h1>
			{{ form(form) }}
		</div>
	</div>
</div>
{% endblock body %}