{% extends "base.html.twig" %}

{% block body %}
<div class="container-xl">
	<div class="row">
		<div class="col">
			<h1>This is the dashboard. Nothing is here yet but you are logged in.</h1>
		</div>
	</div>
</div>
{% endblock %}