{% extends "base.html.twig" %}

{% block body %}
<div class="container-xl">
	<div class="row">
		<div class="col">
			<h1>User Account: {{app.user.email}}</h1>
			{{form(form)}}
			<pre>{{dump(form_data)}}</pre>
		</div>
	</div>
</div>
{% endblock %}